html {
  height: 100%;
}

html {
  --main-text-color: rgb(51, 51, 51);
  --light-text-color: rgb(72, 72, 74);
  --link-color: rgb(0, 112, 201);
  --main-background-color: rgb(255, 255, 255);
  --light-background-color: rgb(224, 224, 224);
  --main-button-color: #1A81EF;
}

html.dark-mode {
  --main-text-color: rgb(229, 229, 234);
  --light-text-color: rgb(199, 199, 204);
  --link-color: rgb(0, 112, 201);
  --main-background-color: rgb(28, 28, 30);
  --light-background-color: rgb(68, 68, 73);
  --main-button-color: #0F6DD2;
}

div.jumbotron {
  padding: 2rem 2rem;
  background-color: var(--light-background-color);
  color: var(--main-text-color);
  border-color: var(--light-background-color);
  transition: all 0.5s;
}

.visible {
  opacity: 1;
  transition: opacity 1s;
}

.invisible {
  opacity: 0;
  max-height: 0;
}

.transition-delay-1s {
  transition-delay: 1s;
}

div.card {
  background-color: var(--light-background-color);
  color: var(--main-text-color);
  border-color: var(--light-background-color);
}

.btn.btn-main {
  background-color: var(--main-button-color);
  color: white;
}

html body {
  height: 100%;
  overflow: hidden;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  transition: all 0.5s;
}

.App-logo {
  height: 30px;
}

.content {
  text-align: center;
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 0;
  left: 0;
  overflow-y: auto;
}

#header {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}


#header div {
  padding-left: 0;
  padding-right: 0;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

#footer div {
  padding-left: 5px;
  padding-right: 5px;
}