input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: var(--light-background-color);
  border-radius: 20px;
  outline: none;
  transition: 0.5s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--light-text-color);
  cursor: default;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--light-text-color);
  cursor: default;
  transition: 0.5s;
}